/* red color for wrong submission*/
.error {color: #FF0000;}

TH.header1 {
    background-color: #386cb0; 
    color: white;
    font-weight: normal;
}
th.header2 {
	font-weight: normal;
	font-size: small;
}

td.firstRow {
	text-align: left;
	font-size: small;
}

th.unscored {
	background-color: #f1b6da;
	font-weight: normal;
	font-size: small;
}	
td.unscored {
	background-color: #f1b6da;
}
td.asterisk {
	background-color: #ffffff;
}
tr:nth-child(even) {background-color: #99d8c9}
